*{
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;
  font-family: "Outfit", monospace;
  font-weight: 400;
  padding: 1rem;
}

.card {
  width: 320px;
  max-width: 400px;
  height: 495px;
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
  border-radius: 10px;
}


.card .text .subtext {
  color: hsl(220, 15%, 55%);
  margin: -5px 15px;
}

.card .text .title {
  font-weight: 700;
  font-size: 1.45rem;
  margin-top: 18px;
  color: hsl(218, 44%, 22%);
}
.attribution {
  padding: 15px;
  font-size: 0.9rem; 
  text-align: center;
}

.attribution a {
   color: hsl(228, 45%, 44%); 
}